[Unit]
Description=metropi
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/metropi
ExecStart=/home/pi/metropi/app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target