[Unit]
Description=metropi
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/jboshier1991/metropi
ExecStart=/usr/bin/python3 /home/jboshier1991/metropi/app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target